@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager


@* Zatim treba postaviti odgovarajuće uvjete za ograničenje prikaza ovog dijela samo administrativnim korisnicima *@
@if (SignInManager.IsSignedIn(User) && await UserManager.IsInRoleAsync(UserManager.GetUserAsync(User).Result, "Admin"))
{
    <li class="nav-item">
        <div class="dropdown">
            <a class="nav-link text-dark dropdown-toggle" data-bs-toggle="dropdown" href="#">
                Admin
            </a>
            <div class="dropdown-menu">
                <a class="dropdown-item" asp-area="Admin" asp-controller="Book" asp-action="Index">Books</a>
                @* <div class="dropdown-divider"></div>
                <a class="dropdown-item" asp-area="Admin" asp-controller="Author" asp-action="Index">Authors</a>
                <a class="dropdown-item" asp-area="Admin" asp-controller="Publisher" asp-action="Index">Publishers</a> *@
            </div>
        </div>
    </li>
}
